@import "utils/_variables";

.Input-Wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;

    input {
        background: $BackgroundColor;
        border: 1px solid $Grey;
        box-sizing: border-box;
        border-radius: 4px;
        width: 294px;
        height: 42px;
    }

    input:focus {
        outline: 0;
    }
}

.Input-Wrapper:nth-of-type(even) {
    margin-left: 30px;

    @media all and (max-width: 736px) {
        margin: 0;
    }

}

.Input-Label {
    color: $Grey;
    font-size: 16px;
    padding-bottom: 5px;
}

.Input-Error {
    padding-top: 5px;
    color: $BasicOrange;
}

.Input-Wrapper-Error {
    input {
        border: 1px solid $BasicOrange !important;
    }

    .Input-Label {
        color: $BasicOrange;
    }
}
