@import "utils/_variables";

.Button {
    height: 60px;
    width: 185px;
    border-radius: 30px;
    background-color: $BasicOrange;
    color: $BasicWhite;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

.Button:hover {
    background-color: $BasicWhite;
    color: $BasicOrange;
    border: 2px solid $BasicOrange;
    cursor: pointer;
}

.Button:active {
    background-color: $SecondOrange;
    color: $BasicOrange;
    border: 2px solid$BasicOrange;
}

.Button:focus {
    outline: 0;
}
