@import "utils/_variables";

.Select-Wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;

    input {
        background: $BackgroundColor;
        border: 1px solid $Grey;
        border-radius: 4px;
        width: 294px;
        height: 42px;
    }

    input:hover {
        cursor: pointer;
    }

    input:focus {
        outline: 0;
    }

    .Search-Select {
        width: 300px;
    }
}

.Select-Label {
    color: #726969;
    font-size: 16px;
    padding-bottom: 5px;
}

.Select-Wrapper-Error {
    .react-select__control {
        border: 1px solid $BasicOrange;
    }

    .Select-Label,
    .Select-Error {
        color: $BasicOrange;
    }

    .Select-Error {
        padding-top: 5px;
    }
}
