.prog {
    width: 100%;
    height: 15px;
    background: #ffbe1e;
}

.MainComponent-Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MainComponent {
    width: 100%;
    background: #fcfaf9;
    margin-top: 84px;
}

@keyframes fadeIn {
    0% {
        display: none;
    }
    100% {
        display: flex;
    }
}

@keyframes fadeOut {
    0% {
        display: flex;
    }
    100% {
        display: none;
    }
}
