.Input-Wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;

    input {
        background: #fcfaf9;
        border: 1px solid #afa7a6;
        box-sizing: border-box;
        border-radius: 4px;
        width: 294px;
        height: 42px;
    }

    input:hover {
        cursor: pointer;
    }

    input:focus {
        outline: 0;
    }

    .Search-Select {
        width: 300px;
    }
}

.Input-Label {
    color: #726969;
    font-size: 16px;
    padding-bottom: 5px;
}
