@import "~@fremtind/jkl-core/mixins/_motion.scss";
@import "~@fremtind/jkl-core/variables/_colors.scss";
@import "~@fremtind/jkl-core/_functions.scss";
@import "utils/_variables";

$height: rem(8px);

.jkl-progress-bar {
    background-color: $DarkPowder;
    height: $height;
    width: 100%;
    overflow: hidden;

    &__tracker {
        display: block;
        height: $height;
        background-color: $SecondOrange;
        transition-property: width;
        @include motion("easeInBounceOut", "lazy");
    }
}