@import "~@fremtind/jkl-core/mixins/_motion.scss";
@import "~@fremtind/jkl-core/variables/_colors.scss";
@import "~@fremtind/jkl-core/_functions.scss";

$height: rem(8px);

.jkl-progress-bar {
    background-color: #F9ECE7;
    height: $height;
    width: 100%;
    overflow: hidden;

    &__tracker {
        display: block;
        height: $height;
        background-color: #FFBE1E;
        transition-property: width;
        @include motion("easeInBounceOut", "lazy");
    }
}